@import "../../shared-styles/colors.scss";

.toggle-switch {
  position: relative;
  width: 75px;
  display: inline-block;
  text-align: left;
  top: 8px;

  .checkbox {
    display: none;
  }

  .checkbox:checked + .label {
    .inner {
      margin-left: 0;
    }

    .switch {
      right: 0px;
      background-color: #fff;
    }
  }

  .label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 0 solid #bbb;
    border-radius: 20px;

    .switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: $purple100;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }

    .inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;

      &::before,
      &::after {
        float: left;
        width: 50%;
        height: 36px;
        padding: 0;
        line-height: 36px;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        box-sizing: border-box;
      }

      &::before {
        content: "Light";
        padding-left: 10px;
        background-color: $purple100;
        color: #fff;
      }

      &::after {
        content: "Dark";
        padding-right: 10px;
        background-color: $grey100;
        color: $purple100;
        text-align: right;
      }
    }
  }
}
