$blue700: #1a1a40;
$blue600: #2c2c66;
$black: #000;
$grey100: #eef1f2;
$grey200: #d7dddf;
$grey500: #969bad;
$grey700: rgb(101, 99, 99);
$purple100: #7a5ef4;
$purple500: #1f223a;
$purple700: #141625;
