.card {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background-color: var(--bgThemeColor2);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;

  &:hover {
    opacity: 0.7;
    box-shadow: none;
  }
}
